.upper-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}
.top-heading {
    background-color: #db5903;
    display: flex;
    flex: 19;
    flex-direction: column;
    padding: 5px 20px;
    padding-top: 0;
    height: 150px;
    justify-content: center;
}
.top-heading h4 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 40px;
    color: white;
}

.below-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


.libre-franklin {
    font-family: "Libre Franklin", serif;
    font-optical-sizing: auto;
    font-weight: "100";
    font-style: "normal";
  }

@media only screen and (max-width: 800px) {
    .top-heading h4 {
        font-size: 20px;
    }
    .upper-one img {
        width: 100%;
    }
}

@media only screens and (max-width: 400px) {
    .top-heading {
        width: 0%;
    }
    .upper-one img {
        width: 100%;
    }
    .checkbtn{
        display: block;
    }
    .below-text{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        overflow-y: scroll;
    }
    .below-text li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .below-text li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

