<div style="">
    <div class="upper-one">
        <div style="">
            <img style="width: auto;" src="../../../assets/IITKGPLOGO.png" alt="IIT-KGP Logo">
        </div>
        <div class="top-heading">
            <h4>Department of Mining Engineering</h4>
            <h4>Indian Institute of Technology (IIT) Kharagpur</h4>
        </div>
    </div>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <div class="below-text">
      <a class="active" routerLink="/" style="text-decoration: none;"><strong>Home</strong></a>
      <a class="active" routerLink="/education" style="text-decoration: none;"><strong>Education</strong></a>
      <!-- <select name="People" id="cars">
        <option value="Faculty"><a class="active" routerLink="/people" style="text-decoration: none;"><strong>Faculty</strong></a></option>
        <option value="Students"><a class="active" routerLink="/students"  style="text-decoration: none;"><strong>Students</strong></a></option>
      </select> -->
      <a class="active" routerLink="/people" style="text-decoration: none;"><strong>Faculty/Staff</strong></a>
      <a class="active" routerLink="/students"  style="text-decoration: none;"><strong>Students</strong></a>
      <!-- <a class="active" routerLink="/labs" style="text-decoration: none;"><strong>Labs</strong></a> -->
      <a class="active" routerLink="/research" style="text-decoration: none;"><strong>Labs/Research Area</strong></a>
      <a class="active" routerLink="/events" style="text-decoration: none;"><strong>Events</strong></a>
      <a class="active" routerLink="/gallery" style="text-decoration: none;"><strong>Gallery</strong></a>
      
      <a class="active" routerLink="/socities" style="text-decoration: none;"><strong>Socities</strong></a>
      <a class="active" routerLink="/contact" style="text-decoration: none;"><strong>Contact</strong></a>
    </div>
</div>


<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
  <mdb-carousel-item>
    <img
      src="../../../assets/dep1.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <!-- <h5>First slide label</h5>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="../../../assets/dep2.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <!-- <h5>Second slide label</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="../../../assets/dep3.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <!-- <h5>Third slide label</h5>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="../../../assets/dep4.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <!-- <h5>Fourth slide label</h5>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
    </div>
  </mdb-carousel-item>
</mdb-carousel>
<hr>
