<app-header>
    
</app-header>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <app-history></app-history>
        </div>
        <div class="col-sm">
            <app-head></app-head>
        </div>
        <div class="col-sm">
            <app-people></app-people>
        </div>
        <div class="col-sm">
            <app-awards-and-recognition></app-awards-and-recognition>
        </div>
        <div class="col-sm">
            <app-staff></app-staff>
        </div>
        <div class="col-sm">
            <app-academic-programme></app-academic-programme>
        </div>
        <div class="col-sm">
            <app-publication></app-publication>
        </div>
        <div class="col-sm">
            <app-contact></app-contact>
        </div>
        <div class="col-sm">
            <app-visitors-help></app-visitors-help>
        </div>
    </div>
</div>
<app-footer></app-footer>