<div style="display: flex; flex-direction: column; padding: 20px; margin: 20px">
    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        <div *ngFor="let person of faculty" style=" width: 20%; display: flex; flex-direction: column; border-radius: 50px; margin: 20px 20px;">
            <div class="our-team">
                <div class="picture">
                <img class="img-fluid" src="http://localhost:8000{{person.image}}">
            </div>
            <div class="team-content">
                <h3 class="name">{{person.name}}</h3>
                <h4 class="title">PhD: {{person.phd_college}}</h4>
                <h4 class="title">Email: {{person.email_id}}</h4>
                <h4 class="title"><a style="text-decoration: none;" href="{{person.institute_webpage}}">Institute webpage</a></h4>
                <h4 class="title"><a style="text-decoration: none;" href="{{person.personal_website}}">Institute webpage</a></h4>

            </div>
            <ul class="social">
                <li><a href="#" aria-hidden="true"></a></li>
            </ul>
            </div>
        </div>
    </div>
</div>
