<body>
	<div style="display: flex; flex-direction: row;">
		
		<div style="display: flex; flex: 1;">
			<h1>Upcoming Events</h1>
			<ol class="olcards">
				<div *ngFor="let event of events">
					<div>
						<li style="--cardColor:#fc374e">
							<div class="content">
								<!-- <div class="icon">😀</div> -->
							<div class="title">{{event.name}}</div>
							<div class="text">{{event.description}}</div>
							<!--Hello-->
							</div>
						</li>
					<div style="margin: 20px 55px;">
						<div class="container">
							<div class="contact-info">
								<h2>Coming Soon.....</h2>
								<!-- <h2>Description:</h2>
								<p><strong>President:</strong> This is a very good education</p> -->
							</div>
						</div>
					</div>
				</div>
				</div>
			</ol>

		</div>
	</div>
</body>