<!-- <div  style="display: flex; align-items: center; flex-direction: column; flex-wrap: wrap;">
    <div *ngFor="let area of research"class="courses-container">
        <div class="course">
            <div class="course-preview">
                <h2>Research Topic:{{area.topic}}</h2>
            </div>
            <div class="course-info">
                <h2>Description: {{area.description}}</h2>
                <button class="btn">Go to Research...</button>
            </div>
        </div>
    </div>
</div> -->


<body>
	<div style="display: flex; padding-top: 10px; text-align: center; justify-content: center;">
		<h1 style="font-size: 50px; font-family: cursive;">Research Areas</h1>
		<hr style="width: 5px;">
	</div>
	<ol style="--length: 5" role="list">
		<!-- <li *ngFor="let title of education" style="--i: 1"> -->
		<body>
			<ul class="olcards">
				<li *ngFor="let area of research"style="--cardColor:#fc374e">
					<div class="content">
						<!-- <div class="icon">😀</div> -->
						<div class="title">{{area.topic}}</div>
						<div class="text">{{area.description}}</div>
					</div>
				</li>
			</ul>
		</body>
	</ol>
</body>