<div>
  <h1 style="margin: 30px;">Research Areas</h1>
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div *ngFor="let research_area of research_areas"  style="width: 80%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <div style="display: flex; justify-content: flex-start; width: 100%;">
        <h2>{{research_area.topic}}</h2>
      </div>

      <div style="display: flex; flex-wrap: wrap;">
        <div *ngFor="let images of research_area.images" style="display: flex; flex-direction: row; justify-content: space-around; width: 50%;">
          <div style="display: flex; flex-direction: row; width: 100%; flex-wrap: wrap;">
            <img style="margin: 0 10px; width: 50%;"  src="http://localhost:8000{{images.image}}" alt="">
            <p style="">{{images.description}}</p>
          </div>
        </div>
      </div>

      <div style="display: flex; flex-direction: row; width: 100%;">
        <div style="display: flex; justify-content: flex-start; width: 50%; flex-direction: column; margin-top: 20px;">
          <p><b>Faculties:</b></p>
          <!-- {{research_area.faculties}} -->
          <ul>
            <li *ngFor="let fruit of research_area.faculties.split(',')">{{ fruit }}</li>
          </ul>
          
        </div>
        <div style="display: flex; justify-content: flex-start; width: 50%; flex-direction: column; margin-top: 20px;">
          <p><b>Broad Research Area:</b></p>
          <!-- {{research_area.broad_research_area}} -->
          <ul>
            <li *ngFor="let fruit of research_area.broad_research_area.split(',')">{{ fruit }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngFor="let research_area of research_areas">
</div> -->