<div>
  <h1>Research Areas</h1>
  
  <div *ngFor="let research_area of research_areas; let i = index" class="dropdown">
    <div class="dropdown-card" (click)="toggleExpand(i)">
      <p class="dropdown-title">{{ research_area.topic }}</p>
      <p class="dropdown-summary">Click to expand and see details</p>
    </div>
  
    <div *ngIf="expandedStates[i]" class="dropdown-content expanded">
      <div class="content-inner">
        <!-- <h3>Lab Overview</h3> -->
        <div class="image-container">
          <div *ngFor="let images of research_area.images" class="image-item">
            <img src="http://localhost:8000{{images.image}}" alt="">
            <p class="image-description">{{images.description}}</p>
          </div>
        </div>
  
        <div class="info-container">
          <div class="info-section">
            <p><b>Faculties:</b></p>
            <ul>
              <li *ngFor="let fruit of research_area.faculties.split(',')">{{ fruit }}</li>
            </ul>
          </div>
          <div class="info-section">
            <p><b>Broad Research Area:</b></p>
            <ul>
              <li *ngFor="let fruit of research_area.broad_research_area.split(',')">{{ fruit }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  
  
  
  
  <!--  -->

  <!-- <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div *ngFor="let research_area of research_areas"  style="width: 80%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <div style="display: flex; justify-content: flex-start; width: 100%;">
        <h2>{{research_area.topic}}</h2>
      </div>

      <div style="display: flex; flex-wrap: wrap;">
        <div *ngFor="let images of research_area.images" style="display: flex; flex-direction: row; justify-content: space-around; width: 50%;">
          <div style="display: flex; flex-direction: row; width: 100%; flex-wrap: wrap;">
            <img style="margin: 0 10px; width: 50%;"  src="http://localhost:8000{{images.image}}" alt="">
            <p style="font-weight: 700;">{{images.description}}</p>
          </div>
        </div>
      </div>

      <div style="display: flex; flex-direction: row; width: 100%;">
        <div style="display: flex; justify-content: flex-start; width: 50%; flex-direction: column; margin-top: 20px;">
          <p><b>Faculties:</b></p>
          <ul>
            <li *ngFor="let fruit of research_area.faculties.split(',')">{{ fruit }}</li>
          </ul>
          
        </div>
        <div style="display: flex; justify-content: flex-start; width: 50%; flex-direction: column; margin-top: 20px;">
          <p><b>Broad Research Area:</b></p>
          <ul>
            <li *ngFor="let fruit of research_area.broad_research_area.split(',')">{{ fruit }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <div *ngFor="let research_area of research_areas">
</div> -->