<div style="display: flex; flex-wrap: wrap; justify-content: center;"> 
    <div class="card about">
        <h3>ABOUT THE DEPARTMENT</h3>
        <p>Welcome to the Department of Mining Engineering. Visit these pages to discover more about the department, our study programme and research activities, and find out whom to contact at MI.</p>
    </div>
    <div class="card about">
        <h3>Vision</h3>
        <p>We have a great vision</p>
    </div>
    <div class="card about">
        <h3>MISSION</h3>
        <p>We have a great mission</p>
    </div>
    <div class="card about">
        <h3>Message from the Head</h3>
        <p>He has some message for you</p>
    </div>
    <div class="card about">
        <h3>News and Events</h3>
        <a href="#" style="text-decoration: none;">Go to News</a>
    </div>
</div>