<div style="display: flex; flex-wrap: wrap; justify-content: center;"> 
    <div class="card about">
        <h3><strong>ABOUT THE DEPARTMENT</strong></h3>
        <p>The Department of Mining Engineering at Indian
            Institute of Technology was started in 1956, with
            the approval of the Planning Commission and the
            All-India Council of Technical Education (AICTE).
            The first batch of twenty B.Tech students
            graduated in 1961 and currently the sanctioned
            strength of the undergraduate program is 95.</p>
    </div>
    <div class="card about">
        <h3><strong>Vision</strong></h3>
        <p>To be a center of excellence in Mining sciences and engineering education and research producing global leaders in engineering,technology and management.
        </p>
    </div>
    <div class="card about">
        <h3><strong>MISSION</strong></h3>
        <ul>
            <li>To provide up-to-date education and training
            to the students in mining and earth sciences,
            oil and natural gas and mineral beneficiation.
            </li>
            <li>To develop the best expertise in mining and
            allied technology and management to impart
            overall training to students in visualizing,
            synthesizing and executing projects.
            </li>
            <li>
                To incubate a spirit of entrepreneurship and
                innovation
            </li>
            <li>
            To undertake sponsored research and
            provide consultancy services in industrial,
            educational and society relevant areas
            </li>
        </ul>
    </div>
    <div class="card about">
        <h3><strong>Message from the Head</strong></h3>
        <p>He has some message for you</p>
    </div>
    <div class="card about">
        <h3><strong>News and Events</strong></h3>
        <a href="#" style="text-decoration: none;">Go to News</a>
    </div>
</div>