<div class="wrapper">
    <div class="container">
        <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 50px; display: flex; justify-content: center;">Contact Us</h1>
        <div class="contact-info">
            <h2>Office</h2>
            <p><strong>Email:</strong> office@mining.iitkgp.ac.in</p>
            <p><strong>Phone:</strong> +91 03222 282281</p>
            <p><strong>Address:</strong> Department of Mining Engineering, IIT Kharagpur</p>
        </div>
        <div class="contact-info">
            <h2>HOD</h2>
            <p><strong>Name:</strong> Professor Biswajit Samanta</p>
            <p><strong>Email:</strong> hod_mining@iitkgp.ac.in </p>
            <p><strong>Phone:</strong> +91 03222 282282</p>
        </div>
    </div>
    <div style="width: 50%; margin: 20px 20px; height: 500px; margin-top: 80px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3690.859839812042!2d87.30892307480426!3d22.32113994214064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1d4554f06f0bf1%3A0xbe35e0786058beb5!2sDepartment%20of%20Mining%20Engineering!5e0!3m2!1sen!2sin!4v1694011278147!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<!--HHH-->