<div class="wrapper">
    <div class="container">
        <h1>Contact Us</h1>
        <div class="contact-info">
            <h2>Office</h2>
            <p><strong>Email:</strong> contact@example.com</p>
            <p><strong>Phone:</strong> +1 (123) 456-7890</p>
            <p><strong>Address:</strong> 1234 Elm Street, Cityville</p>
        </div>
        <div class="contact-info">
            <h2>HOD</h2>
            <p><strong>Name:</strong>Biswajit Samanta</p>
            <p><strong>Email:</strong> csamantab@mining.iitkgp.ac.in </p>
            <p><strong>Phone:</strong> +1 (123) 456-7890</p>
        </div>
    </div>
</div>