<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <!-- <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a> -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3690.8599710563126!2d87.3089230749943!3d22.3211349796716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1d4554f06f0bf1%3A0xbe35e0786058beb5!2sDepartment%20of%20Mining%20Engineering!5e0!3m2!1sen!2sin!4v1685985340653!5m2!1sen!2sin" width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5>Quick Links</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a
            href="https://erp.iitkgp.ac.in/SSOAdministration/login.htm?sessionToken=3CB1239850C1C07D53A03546DC4CBD0D.worker1&requestedUrl=https://erp.iitkgp.ac.in/IIT_ERP3/"
            class="nav-link p-0 text-muted">ERP</a></li>
        <li class="nav-item mb-2"><a href="https://library.iitkgp.ac.in/" class="nav-link p-0 text-muted">Cental
            Library</a></li>
        <li class="nav-item mb-2"><a href="" class="nav-link p-0 text-muted">Timetable</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Information</a></li>
        <li class="nav-item mb-2"><a href="http://greatstep.in/" class="nav-link p-0 text-muted">TMES</a></li>
        <li class="nav-item mb-2"><a href="https://iitkgpmail.iitkgp.ac.in/" class="nav-link p-0 text-muted">Check
            Email</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>The Institute</h5>
      <p class="text-muted">The Indian Institute of Technology (IIT) Kharagpur was established
        in May 1950 and started its academic programme in August 1951. Established as one of
        the major departments of the Institute, since its inception in 1951...
        <a href="http://www.iitkgp.ac.in/about-iitkgp" class="nav-link p-0 text-muted">Know more</a>
      </p>
    </div>

    <div class="col mb-3">
      <h5>Contact</h5>
      <p class="text-muted">Prof .............</p>
      <p class="text-muted">Head, Department of Mining Engineering</p>
      <p class="text-muted">Phone : 1234567890</p>
      <p class="text-muted">Email: hod@kgp.com</p>
    </div>
  </footer>
</div>

<div class="d-flex justify-content-center">
  © 2023 Department of Mining Engineering, IIT Kharagpur
</div>